.container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 3fr;
    
  }

  .item{
    padding: 10px;
    border: 1px solid #ccc;
  }
  

  .header{
    background-color: lightblue;
    grid-column: span 2;
    text-align: center;
  }

  .sidebar{
    background-color: lightgreen;
  }

  .content{
    background-color: lightyellow;
    padding: 20px;
  }
  
  .footer{
    text-align: center;
    background-color: lightcoral;
    grid-column: span 2;
  }